.search__button {
  position: absolute;
  width: 168px;
  height: 64px;
  right: 0;
}
@media all and (max-width: 768px) {
  .search__button {
    width: 160px;
    height: 56px;
  }
}
@media all and (max-width: 500px) {
  .search__button {
    position: static;
    width: 288px;
  }
}