@import url(./__span/result__span.css);
@import url(./__span-key/result__span-key.css);
@import url(./__text-bold/result__text-bold.css);
.result__office-block {
  width: 85.2%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #fff;
}
@media all and (max-width: 840px) {
  .result__office-block {
    width: 89%;
  }
}
@media all and (max-width: 360px) {
  .result__office-block {
    width: 92%;
  }
}