@import url(./__image/about__image.css);
@import url(./__container/about__container.css);
.about__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .about__block {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}