.result__hint {
  position: absolute;
  visibility: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  border-radius: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
  padding: 14px 5px 14px;
  right: 70px;
}