@import url(./__block/about__block.css);
.about {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 7.2%;
  padding-right: 7.2%;
}
@media all and (max-width: 800px) {
  .about {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media all and (max-width: 700px) {
  .about {
    justify-content: center;
  }
}
@media all and (max-width: 500px) {
  .about {
    padding-top: 2rem;
    padding-bottom: 80px;
  }
}