.result__item-save_theme_aktive {
  border-width: 16px 9px 8px;
  border-style: solid;
  border-color: #2f71e5 #2f71e5 transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}