@import url(../../styles/style.css);
@import url(../../styles/button/button.css);
@import url(../../styles/button/button_color_gray.css);
@import url(../../styles/button/button_color_blue.css);
@import url(../../styles/button/button_border_black.css);



@import url(../../styles/link/link.css);
@import url(../../styles/page/page.css);
@import url(../../styles/header/header.css);
@import url(../../styles/header/header_for_office.css);

@import url(../../styles/text/text.css);
@import url(../../styles/text/text_color_black.css);
@import url(../../styles/text/text_color_gray-black.css);




@import url(../../styles/footer/footer.css);
@import url(../../styles/result/result.css);

@import url(../../styles/is-opened/is-opened.css);
@import url(../../styles/is-opened/is-closed.css);