.result__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  max-width: 420px;
  align-self: flex-start;
  margin-bottom: 60px;
}
@media all and (max-width: 840px) {
  .result__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 2rem;
  }
}
@media all and (max-width: 540px) {
  .result__title {
    margin-bottom: 1.5rem;
  }
}