.popup__input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup__input::-webkit-input-placeholder {
  color: #b6bcbf;
}
.popup__input::-moz-placeholder {
  color: #b6bcbf;
}
.popup__input:-moz-placeholder {
  color: #b6bcbf;
}
.popup__input:-ms-input-placeholder {
  color: #b6bcbf;
}
.popup__input:focus {
  border-bottom-color: #000;
}