.result__item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin-bottom: 1rem;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media all and (max-width: 768px) {
  .result__item-title {
    font-size: 22px;
    line-height: 24px;
  }
}