@import url(./__input-name/popup__input-name.css);
@import url(./__input/popup__input.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__input-error/popup__input-error_server_message.css);
.popup__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}