.header__menu {
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
  background-size: cover;
}
@media all and (max-width: 650px) {
  .header__menu {
    display: flex;
    z-index: 2;
    margin-right: 15px;
  }
}