.header__close-menu {
  display: none;
  cursor: pointer;
  width: 20px;
  transform: rotate(45deg);
  position: relative;
}
.header__close-menu::after {
  content: "";
  position: absolute;
  width: 20px;
  transform: rotate(90deg);
  top: -5px;
}
@media all and (max-width: 650px) {
  .header__close-menu {
    z-index: 3;
    margin-right: 15px;
  }
}