.header__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  flex: 1;
}
@media all and (max-width: 720px) {
  .header__title {
    font-size: 16px;
    z-index: 2;
    margin-left: 15px;
  }
}