@import url(./__container-title/header__container-title.css);
@import url(./__container-title/header__container-title_border_white.css);
@import url(./__container-title/header__container-title_border_black.css);
@import url(./__button/header__button.css);
.header__container {
  display: flex;
}
@media all and (max-width: 720px) {
  .header__container {
    padding-right: 15px;
  }
}
@media all and (max-width: 650px) {
  .header__container {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    padding-top: 320px;
    padding-bottom: 20px;
    padding-left: 15px;
    z-index: 1;
  }
}
